{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Contact Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>
  <div class="container">
    <div class="row">
      <form action="/contact" method="post" accept-charset="utf-8" class="form">
        <input type="text" class="form-control" id="name" name="name" placeholder="Name/Company*" required="required"> 
        <br/>
         
        <input type="email" class="form-control" id="email" name="email" placeholder="Email*" required="required"> 
        <br/>

        <textarea class="form-control" id="comments" name="comments" rows="10" placeholder="Questions/Comments*" required="required"></textarea> 
        <br/>
        
        <input type="hidden" name="_token" value="">
        <input type="submit" name="contactsubmit" class="button fl" value="Submit">        
      </form>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3><a href="/">Home</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><a href="/about">About</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><a href="/contact">Contact</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
{% endblock %}
