{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>Resize this responsive page to see the effect!</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><a href="/">Home</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><a href="/about">About</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><a href="/contact">Contact</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
{% endblock %}
